html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
	font-family: 'Quicksand', sans-serif;
	line-height: 2;
	font-size: 1.3em;
	color: #92a2ad;
}

body {
	background-color: #FFF;
	margin: 0;
}

#home-front {
	display: flex;
	justify-content: center;
	background: url(img/front-bg.svg) no-repeat  #92a2ad 0% 100%;
	color: #FFF;
	padding: .5em 0 0 0;
	flex-direction: column;
}

.front-bg {
	background: url(img/dog.png) no-repeat 28% 100%;
  animation: fadein 1.5s;
}

.flexbox-container {
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	width: 1000px;
	padding: 2em 0;
	align-self: center;
}

.top {
	padding: 0;
	margin: 0;
width: 940px !important;
}

.front {
	display: flex;
}

#logo a {
	display: flex;
	align-self: flex-start;
	width: 200px;
	margin: .8em 0 .3em 1.5em;
}

#logo a:hover {
	opacity: 1;
}

#front-text {
	display: flex;
	flex-direction: column;
	width: 600px;
}

#front-text p {
	font-size: 1.1em;
}

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	margin: .5em 0 0 0;
	padding: 0;
	font-size: 2.6em;
	line-height: 1em;
}

h2 {
	font-size: 1.4em;
	padding: 0;
	margin: 0;
}

a {
	color: #92a2ad;
transition: .4s;
}

.section a {
	text-decoration: none;
	padding: 20px;
}

.section a:hover {
	text-decoration: none;
background: #f4f7fa;
border-radius: 20%;
  opacity: 1;
}

.section h3 {
	text-transform: uppercase;
}

.section {
	display: flex;
	width: 300px;
	margin: 0;
	padding: 10px;
	align-self: center;
	text-align: center;
	flex-direction: column;
	animation: fadein 1.5s;
}

#front {
	display: flex;
	align-self: center;
}

.center {
	justify-content: center !important;
}

.right {
	justify-content: flex-end !important;
}

.bg {
	background: #92a2ad;
	color: #FFF;
}

.bg a {
	color: #FFF;
}

button {
	background: #606b72;
	height: 50px;
	border-radius: 50px;
	color: #FFF;
	margin-top: 2em;
	font-size: 1.2em;
	width: 300px;
}

input {
	border-radius: 50px;
	border: none;
padding: 10px ;
	width: 100%;
}

.field {
	margin: 1% 4%;
	width: 41%;
}

.message {
	width: 90%;
}


.sep {
	display: block;
	float: left;
	width: 100%;
}

.formfield {
	display: flex;
	justify-content: column;
	width: 100%;
}

.fo {
	width: 800px;
}

#bg-form {
color: #FFF;
	background: url(img/bg.svg) center;
background-repeat: repeat-x;
padding: 2.7em 0;
}

form {
	display: flex;
	flex-direction: column;
	width: 800px;
	align-items: center;
}

.circle {
max-width: 201px;
	width: 30%;
	height: auto;
max-height: 200px;
	border-radius: 50%;
border: 10px solid #c6ced4;
	margin:  1em 2em;
}

#testi {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 2em 0;
}

#testi-text p {
	width: 90%;
	margin:  1em 2em;
}

#testi-text  {
width: 85%;

text-align: center;
display: flex;
align-self: center;
flex-direction: column;

}

.testi-name {
	align-self: flex-end;
width: 200px !important;
}

#arrow {
display: block;
	background: url(img/arrow.svg) no-repeat center;
width: 9%;
height: 100%;
}

.roright {
  transform: rotate(180deg);
}

#testi-text {
	display: flex;
}

.sm {
  height: 49px;
  width: 49px;
  margin: 0 10px 0 10px;
  transition: .3s;
display: flex;
justify-content: center;
}

#wrap-foot {
	display: flex;
flex-direction: column;
width: 80%;
}

#footer {
  display: flex;
flex-direction: column;
  width: 100%;
align-content: center;
text-align: center;
line-height: 1.3em;
}

.center {
display: flex;
	justify-content: center !important;
flex-direction: row !important;
}

.margin {
	margin: 2.2em 0;
}

.margin-bot {
	margin: 0 0 .5em 0;
}

a:hover {
  opacity: .5;
}

.front {
	margin: 0;
padding: 3em 0 6.5em 0 ;
}


.bg-top {
	background: url(img/bgtop.svg) center top no-repeat;
padding: 4em 0;
}

@media (max-width: 1357px) {
.front-bg {
	background: url(img/dog.png) no-repeat 18% 100%;
}
}

@media (max-width: 1030px) {
.front-bg {
	background: url(img/dog.png) no-repeat 5% 100%;
}
}

@media (max-width: 923px) {
.front-bg {
	background: url(img/dog.png) no-repeat 50% 100%;

}

.section {

	width: 85%;

}

.front {
	margin: 0;
	padding: 2em 0 22em 0 ;
}

#front-text {
	display: flex;
text-align: center;
	flex-direction: column;
	width: 400px;
	padding: 0 1em 0 0em;
}

h2 {
	font-size: 1.4em;
	margin: .5em 0 !important;
line-height: 1.5em !important;
}

h1 {
	font-size: 2.2em;
	margin: 0;
}

.front {
	padding: 1em 0 22em 0 ;
}

#front-text p {
	margin: 0;
padding: 0;
margin-block-start: 0  !important;
}

.right {
justify-content: center !important;

}

.wrapper {
	width: 100%;
}

.flexbox-container {
	width: 100%;
}

.top {
	padding: 0;
	margin: 0;
	width: 100% !important;
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;
padding:  1em 0;
	align-items: center;
}

#sectioncol  {
	flex-direction: column;
}

#testi {
align-items: center;
	flex-direction: column;
	padding: 0 0;
}


.testi-name {
	align-self: center;

}

#testi-text p {
    width: 95%;
    margin: 1em .5em;
}


}


.nav-container {
	display: flex;
	width: 1000px;
	justify-content: space-between;
}
/* 
#nav-bar {
	width: 590px;
	display: flex;
	align-self: flex-end;
} */



.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
	width: 100%;
    color: white;
}

.navbar-links {
    height: 100%;
	display: flex;
}

.navbar-links ul {
    display: flex;

    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;

}

.navbar-links li a {
    display: block;
    text-decoration: none;
	color: #FFF;
	margin: 1em 2em;
	transition: .5s;
    border-bottom: 3px transparent solid;
}

.navbar-links li a:hover {
	border-bottom: #FFF 3px solid;
	opacity: 1;
}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
#logo a {
	margin: .3em 0 .3em 1em;
}
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem .5rem;
	border-bottom: 1px solid #FFF;
	border-top: 1px solid #FFF;
margin: 0;
    }

    .navbar-links.active {
        display: flex;
    }

.nav-container {
	width: 100%;
}
}

