/* *{
  margin:0;
  padding:0;
} */
html {
  font-family: 'Quicksand', sans-serif;
  line-height: 2;
  font-size: 1.2em;
  color:#635772;
}

body {
  background-color: #FFF;
  margin: 0;
}

.nav-container {
  display: flex;
  justify-content: center;
}

#nav-bar {
  width: 1200px;
}

#nav-bar li {
  list-style: none;

  /* margin: 1em 2em; */
}

#nav-bar li a {
  text-decoration: none;
    float: left;
  padding: 1em 2em;
    transition: .5s;
}

#nav-bar li a:hover {
  background-color: #f7f4fa;
  opacity: 1;
  
}

#bio {
  margin-top: 0px;
  background-color: #F6F6F6;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  margin: 1.3em 0 0 0;
  padding:0;
  font-size: 2.6em;
  line-height: 1.3em;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  height: auto;
  font-weight: 700 !important;
  margin: 0;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  height: auto;
  color: #958BA5;
  font-weight: 700 !important;
  margin: 0;
  line-height: 1.5em;
}

.section p {
  margin: 0px 0;
}

p {
  font-weight: 400;
}

.flexbox-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.wrapper, .wrapper-head {
  display: flex;
  flex-flow: row;
  width: 1200px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 3.8em;
}

.wrapper {
  width: 1000px !important;
}

.foot-wrapper {
  width: 1100px;
  margin: 100px 0px 20px 0;
}

#avatar {
flex-grow: 1;
min-width: 270px;
max-width: 30%;
}

.img {
  width: 100%;
  height: auto;
  margin: 3em 0px 0px 0px;
}

.img-front {
  width: 100%;
  height: auto;
  max-height: 381px;
  margin: 7vh 0 0px 0px;
}



.info {
  margin: 0px 1em 0px 2em;
  /* flex: 1 1 300px; */
  display: flex;
  align-self: center;
    width: 550px;
      flex-direction: column;
}

.section {
  display: flex;
  width: 500px;
  margin: 0px 0px 0px 0px;
  padding: 10px;
  align-self: center;
  text-align: right;
  flex-direction: column;
}

.text-left {
  text-align: left;
}

.image-frame {
  max-width: 100%;
  height: auto;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}


.heading {
  display: block;
  width: 1200px;
  flex: 1 1 1200px;
  /* flex-flow: row wrap; */
}

#footera {
  float: left;
  width: 55%;
  height: 3.5em;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}

#footerb {
  display: block;
  float: right;
  justify-content: right;
  width: 340px;
}

.sm {
  height: 64px;
  width: 65px;

  display: block;
  float: left;
  margin: 0 10px 0 10px;
  transition: .3s;
}

#fb {
  background-position: 0px 0px;
}

#ig {
  background-position: -130px 0px;

}

#gh {
  background-position: -195px 0px;

}

#in {
  background-position: -65px 0px;
}

a {
  text-decoration: none;
  color: rgb(88, 88, 88);
}

a:hover {
  opacity: .5;
}

@media (max-width: 867px) {

  body {
  margin:0;
  padding:0;
  }

  .section {
    order: 2;
  }

  #nav-bar {
    display: flex;
    flex-flow: row;
    justify-content: center;
    font-size: 1em;
  }

  #nav-bar li a{
  padding: 1em 1.2em !important;
}

.wrapper, .wrapper-head {
  width: 100% !important;
  display: flex;
  justify-content: center;
}

.img-front {
    display: flex;
  margin-top: 1em;
  flex-direction: column;
  min-width: 500px;
}

.info {
    display: flex;
  flex-direction: column;
}

.image-frame {
  max-width: 45%;
}
h1 {
  margin: .5em 0 0 0;
  text-align: center;
}

h4 {
  font-size: 1.4em;
  text-align: center;
}

.info {
  text-align: center;
  margin: 0 1.8em 0 1.8em;
}

.section {
  text-align: center;
}

.foot-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

#footera {
  font-size: .8em;
  height: 6vh;
  display: flex;
  width: 70%;
  margin: 0 15% 0 15%;
  order: 2;
  justify-content: center;
  text-align: center;
}

#footerb {
  height: 60px;
  display: flex;
  float: none;
  width: auto;
  order: 1;
  justify-content: center;
}

}