/* *{
  margin:0;
  padding:0;
} */
html {
  font-family:  'Chelsea Market';
  line-height: 1.8;
  font-size: 1.1em;
  color: rgb(88, 88, 88)
}

body {
  background-color: #FFF;

}

@media (max-width: 950px) {
  body {
  margin:0;
  padding:0;
  }
}

#nav-bar li {
  list-style: none;
  float: left;
  margin: 0 15px;
}

#nav-bar li a {
  text-decoration: none;
}

h1, h3 {
  margin: 0;
}

.flexbox-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.wrapper {
  background-color: rgb(240, 240, 240);
  /* text-align: left;
  width: 90%;
  color: #474747;
  font-size: 19px;
  padding: 30px 60px 130px 60px;
  margin: 0 auto;
  min-height: 800px; */
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  width: 1100px;
  flex-wrap: wrap;
}

#avatar {
flex-grow: 1;
min-width: 270px;
max-width: 30%;
  /* width: 30%; */
}

.pic {
  width: 100%;
  height: auto;
}

.info {
  margin: 0px 30px;
  width: 50%;
  flex: 1 1 300px;
  align-self: center;
}

.section {
  width: 330px;
  margin: 10px;
}

.heading {
  display: block;
  width: 1200px;
  flex: 1 1 1200px;
  /* flex-flow: row wrap; */
}

.sm {
  display: block;
  height: 54px;
  width: 54px;
  margin: 0 10px;
  transition: .3s;
}

#fb {
  background-image: url("img/fb.png");
}

#ig {
  background-image: url("img/ig.png");
}

#gh {
  background-image: url("img/gh.png");
}

a {
  text-decoration: none;
  color: rgb(88, 88, 88);
}

a:hover {
  opacity: .7;
}

